/* Переменные для удобной настройки цветов */
:root {
    --bg-dark: #1a1a1a;
    --bg-card: #2a2a2a;
    --bg-hover: #3a3a3a;
    --bg-folder: #2c3e50;
    --bg-header: #333;
    --border-color: #333;
    --border-hover: #555;
    --border-header: #444;
    --text-main: #ffffff;
    --text-muted: #cccccc;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-dark);
    color: var(--text-main);
    margin: 0;
    line-height: 1.5;
}



/* Шапка */
.header {
    display: flex;
    flow: horizontal;
    padding: 15px 20px;
    background-color: var(--bg-header);
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 2px solid var(--border-header);
}
.header a#back {
    border-radius: 2rem;
    color: white;
    text-decoration: none;
}
.header a#back:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.header a#path {
    margin-left: auto;
    margin-right: 50%;
}

/* Сетка элементов */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.grid-map {
    margin: 0 20% 0 20%;
}

/* Делаем ссылку блоком, чтобы она растянулась на всю ширину и высоту */
.item a {
    display: flex;          /* Включаем Flexbox */
    flex-direction: column; /* Элементы идут друг под другом (колонка) */
    align-items: center;    /* Центрируем элементы по горизонтали (ось X) */
    justify-content: center;/* Центрируем элементы по вертикали (ось Y) */
    text-align: center;     /* Центрируем текст внутри блока .name */

    width: 100%;
    height: 100%;
    text-decoration: none;  /* Убираем подчеркивание ссылки */
    color: inherit;         /* Наследуем цвет текста */
}

/* Опционально: добавляем курсор и эффект при наведении, чтобы было понятно, что это кнопка */
.item {
    border-radius: 2rem;
    border: --border-color solid;
    cursor: pointer;
    transition: background-color 0.2s;
}

.item:hover {
    background-color: rgba(255, 255, 255, 0.05); /* Легкий подсвет при наведении */
}

/* Убираем лишние рамки (если они были для теста) и настраиваем обертку */
.preview-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.item:active {
    transform: translateY(0);
}

/* Специфично для папок */
.folder {
    background-color: var(--bg-folder);
    font-weight: bold;
}

/* Иконки и превью */
.file-icon {
    font-size: 3rem;
    padding: 10px;
    display: block;
}

img,
video {
    max-width: 100%;
    max-height: 120px;
    border-radius: 4px;
    object-fit: cover;
}

/* Название файла */
.name {
    font-size: 0.85rem;
    margin-top: 8px;
    word-break: break-all;
    color: var(--text-muted);
}
